@import 'src/variables.scss';

.container{
    min-width: 320px;
    min-height: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;

	padding: 0;

	h1 {
        align-self: center;
        margin-bottom: 32px;
    }

	.input-wrapper{
		width: 100%;

		display: flex;
		flex-direction: column;
	}
}

#error-form{
    font-size: 10px;
}

.button-wrapper{
	width: 100%;
    display: flex;
    justify-content: space-between;
	margin-top: 16px;
}