<div class="container">
	
	<h1>Inicio de sesión</h1>
	
	<div class="input-wrapper">
		<mat-form-field class="form_element">
			<input matInput type="text" name="username" placeholder="Nombre de usuario" [(ngModel)]="username">
		</mat-form-field>
		
		<mat-form-field class="form_element">
			<input matInput type="password" name="password" placeholder="Contraseña" [(ngModel)]="password">
		</mat-form-field>
		
		
		<mat-error *ngIf="validLogin == false && loginCount > 0">
			<p id="error-form">Error al meter la contraseña.</p>
		</mat-error>     
	</div>
	
	<div class="button-wrapper">
		<button mat-raised-button (click)="checkLogin()" class="m-btn-primary">Iniciar sesión</button>
		<button mat-raised-button (click)="onNoClick()" class="m-btn-primary-c">Cerrar</button>
	</div>
	
	
</div>

<!-- <button (click)=logOut() class="btn btn-success">
	Logout
</button> -->
