<div class="categoryContainer">
    <div class="catIcon">
        <!-- <a  routerLink="../galery"> -->
            <a class="nav-link" [routerLink]="['/coches']"><mat-icon class="icon">directions_car</mat-icon></a> 
        <!-- </a> -->
    </div>
    <div class="catIcon">
        <a  routerLink="../galery">
            <mat-icon class="icon"> mobile_screen_share</mat-icon>
        </a>
    </div>
    <div class="catIcon">
        <a  routerLink="../galery">
            <mat-icon class="icon">music_video</mat-icon>
        </a>
    </div>
</div>
