@import'src/variables.scss';

;
.categoryContainer {
    // display: flex;
    // justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex: 0.8 1 auto;
}

.catIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    // height: 80px;
    width: 80px;
    // background-color: red;
    // min-width: 80px;
    // min-height: 80px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem !important;
    // width: 100px;
    color: $m-c-p;
    transition: 0.1s;
    &:hover {
        color: $m-c-pl;
    }
}

a {
    text-decoration: none;
}