<mat-toolbar id="header-toolbar">
	<div class="wrapper">

		<div class="main-wrapper">
			<div class="icon-wrapper">
				<a routerLink="">
					<img src="./assets/macaco.png">
				</a>
			</div>
			
			<app-search-bar></app-search-bar>
		</div>

		<div class="buttons-wrapper">
			<p *ngIf="loggedOk()">{{ username }}</p>
			<button mat-raised-button *ngIf="!loggedOk()" (click)="openDialog(0)" class="m-btn-primary-i">
				Iniciar sesión
			</button>
			<button mat-raised-button *ngIf="!loggedOk()" (click)="openDialog(1)" class="btn m-btn-primary">
				Registrarse
			</button>
			<button mat-raised-button *ngIf="loggedOk()" (click)="openDialog(2)" class="btn m-btn-primary">
				Nuevo Producto
			</button>
			<button mat-raised-button *ngIf="loggedOk()" (click)="logOut()" class="m-btn-primary-i">
				Logout
			</button>
		</div>

	</div>
</mat-toolbar>