@import 'src/variables.scss';

#header-toolbar {
	height: 10vh;
	justify-content: space-around;
    background-color: #fff;
    margin-bottom: 32px;
	border-bottom: 2px solid $m-c-p;

	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex: 0.8 1 auto;
	
		.main-wrapper {
			display: flex;
			align-items: center;
	
			.icon-wrapper {
				margin-right: 20px;
			
				img {
					width: 65px;
					height: 65px;
				}
			}
		}
	
		.buttons-wrapper {
			display: flex;
			flex-direction: row;
			gap: 32px;
			justify-content: center;
			align-items: center;
			// min-width: 20vw;
			// align-self: flex-end;

			// button {
			// 	max-width: 145px;
			// 	max-height: 30px;
			// 	margin: 10px;
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	transition: 0.5s;
			// }
		
			// .login-button {
			// 	min-width: 120px;
			// 	background-color: #fff;
			// 	border: 1.3px solid $m-c-p;
			// 	font-size: 1rem;
			// 	border-radius: 35px;
			// 	color: $m-c-p;
			// 	font-weight: 500;
			// 	&:hover {
			// 		background-color: $m-c-p;
			// 		color: $white-color;
			// 	}
			// }
			
			// .new-product-button {
			// 	min-width: 120px;
			// 	font-weight: 500;
			// 	font-size: 1rem;
			// 	color: $white-color;
			// 	background-color: $m-c-p;
			// 	border: 1.3px solid $m-c-p;
			// 	border-radius: 35px;
			// 	&:hover {
			// 		background-color: $white-color;
			// 		color: $m-c-p;
			// 	}
			// }
		}
	}
}