<div class="footer">
    <div class="links-copy-wrapper">
        <div class="links-wrapper">
            <div class="links about">
                <div class="title">
                    <h3 class="footer-title">Lorem, ipsum.</h3>
                </div>
                <div class="separator">
                    <mat-divider class="separator-divider"></mat-divider>
                </div>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                    </ul>
                </div>
            </div>
            <div class="links contact">
                <div class="title">
                    <h3 class="footer-title">Lorem, ipsum.</h3>
                </div>
                <mat-divider class="separator-divider"></mat-divider>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                    </ul>
                </div>
            </div>
            <div class="links follow">
                <div class="title">
                    <h3 class="footer-title">Lorem, ipsum.</h3>
                </div>
                <mat-divider class="separator-divider"></mat-divider>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                        <li class="link"><a href="#">Lorem.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <h5>Lorem ipsum dolor sit amet.</h5>
        </div>
    </div>
</div>