<mat-toolbar id="header-toolbar">
    <div class="wrapper">
        <div class="iconsearchwrapper">
            <div class="icon-wrapper">
                <mat-icon>
                    <a  routerLink="home">
                        <span class="material-icons md-48">account_circle</span>
                    </a>
                </mat-icon>
            </div>

            <div class="searchbar">
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Iconoaqui">
                    </div>
                </form>
            </div>
        </div>
        <mat-divider id="searchbar-buttons"></mat-divider>
        <div class="button-wrapper">
            <button mat-stroked-button id="login-button">Log in / Registrarse</button>
            <button mat-flat-button id="new-product-button">Nuevo Producto</button>
        </div>
        <span id="example-spacer-after"></span>


    </div>
</mat-toolbar>