$corporative-color: #00B6D3;
$white-color: #fff;
#header-toolbar {
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0.8 1 auto;
}

.icon-wrapper {
    margin: 18px 15px 0px 0px;
}

.iconsearchwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-control {
    border-radius: 35px;
    border: 0.2px solid rgb(170, 170, 170);
    min-width: 35vw;
    min-height: 4vh;
    transition: 0.5s;
    background: rgb(241, 241, 241);
    &::placeholder {
        color: gray;
    }
}

.md-form input {
    text-indent: 10px;
    font-size: 0.7rem;
}

.md-form input:focus {
    outline: none;
    border: 0.2px solid $corporative-color;
    background-color: white;
    transition: 0.5s;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
}

.button-wrapper button {
    max-width: 145px;
    max-height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#searchbar-buttons {
    min-width: 33vw;
    border: none;
}

#login-button {
    background-color: #fff;
    border: 1.3px solid $corporative-color;
    border-radius: 35px;
    color: $corporative-color;
    font-weight: 500;
    &:hover {
        background-color: $corporative-color;
        color: $white-color;
    }
}

#new-product-button {
    color: $white-color;
    background-color: $corporative-color;
    border: 1.3px solid $corporative-color;
    border-radius: 35px;
    &:hover {
        background-color: $white-color;
        color: $corporative-color;
    }
}