.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    // background-color: red;
}

.featuredOne {
    display: flex;
    justify-content: center;
    flex-direction: row;

}