@import 'src/variables.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    // background-color: red;
}

.featured {
    // width: 85vw;
	margin: 0 auto;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
	gap: 32px;
}

h2 {
    margin-top: 1.5rem;
    color: $m-c-p;
}

