<div class="container">
    <h2 class="featurerTitle">Destacados en nombrecategoria</h2>
    <div class="featured" >
        <ng-container *ngFor="let f of featuredProductsOne">
            <app-product-card [item]="f"></app-product-card>
        </ng-container>
    </div>
    <h2 class="featurerTitle">Destacados en nombrecategoria</h2>
    <div class="featured" >
        <ng-container *ngFor="let f of featuredProductsTwo">
            <app-product-card [item]="f"></app-product-card>
        </ng-container>
    </div>
</div>
