<div class="container">
    <mat-card class="user-card">
        <div class="user1">
            <div class="user-photo">
                <!-- TODO Cambiar por imagenes de la base de datos -->
                <img class="peepoimg" src="./assets/peepo3.jpg" alt="ImagenDePrueba">
            </div>
            <div class="user-info">
                <div id="username">
                    {{ user?.username }}
                </div>
                <div id="valoration">
                    <!-- TODO Añadir valoraciones/estrellas -->
                {{ user?.valoration }}
                </div>
                
            </div>
        </div>
        <div class="user-valorations"></div>
        <div class="button-wrapper">
            <div class="btn_userCard" *ngIf="isEqualLoggedThanThisUser()">
            <a [routerLink]="['/usuario', user?.id, 'editar']"><button mat-raised-button id="edit" type="submit">Edit user</button></a>
            <a><button mat-raised-button id="create" type="submit">Create product</button></a>
        </div>
        </div>
        
    </mat-card>
    <div class="each-product"></div>
</div>
