<div class="container">
    <mat-card class="user-card">
        <div class="user1">
            <div class="user-photo">
                <!-- TODO Cambiar por imagenes de la base de datos -->
                <img class="peepoimg" src="./assets/peepo3.jpg" alt="ImagenDePrueba">
            </div>
            <div class="user-info">
                <div id="username">
                    {{ user?.username }}
                </div>
                <div id="valoration">
                    <!-- TODO Añadir valoraciones/estrellas -->
                	{{ user?.valoration }} valoraciones
					<div class="score">
						{{ valoration }}
            			<mat-progress-bar mode="determinate" [value]="valoration"></mat-progress-bar>
					</div>
                </div>
                
            </div>
        </div>
        
        <div class="button-wrapper">
            <div class="btn_userCard" *ngIf="isEqualLoggedThanThisUser()">
            <a [routerLink]="['/usuario', user?.id, 'editar']"><button mat-raised-button id="edit" type="submit">Editar usuario</button></a>
            <!-- <a><button mat-raised-button id="create" type="submit">Crear producto</button></a> -->
        </div>
        </div>
        
    </mat-card>
    <div class="each-product"></div>
</div>
