<!-- <mat-card 
	class="product-card"
	(click)="openFeatured()"
	>
	<div id="foto-container">
		<div *ngIf="item.image != null ">
			<img mat-card-image src="{{ item.image}}" alt="Foto1">
			
		</div>
		<div *ngIf="item.image == null">
			<img mat-card-image src="assets/no-disponible.jpg" alt="Foto">
		</div>
	</div>
	<mat-card-title>{{ item.name }}</mat-card-title>
	<mat-card-content>
		<p> {{ item.description }}
		</p>
	</mat-card-content>
	
</mat-card> -->
<a [routerLink]="['/producto', product?.id]">
	<mat-card class="product-card">

		<img mat-card-image *ngIf="image != null" src="assets/chaqueta.jpg" alt="Foto1">

		<img mat-card-image *ngIf="image == null" src="{{ image }}" alt="Foto1">

		<img mat-card-image *ngIf="image == null" src="assets/no-disponible.jpg" alt="Foto">

		<mat-card-title>{{ product?.name }}</mat-card-title>
		<mat-card-content>
			<p> {{ product?.description }}
			</p>
		</mat-card-content>

	</mat-card>
</a>


<!-- <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> 
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->