.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 90%;
}
.banner {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #00B6D3;
}

.categoryBanner {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.featured {
    display: flex;
    justify-content: center;
}

