@import 'src/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 90%;
}
.banner {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    h1 {
        color: $m-c-p;
        font-weight: 500;
        font-size: 2rem;
    }
}

.categoryBanner {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.featured {
	width: 100%;
    display: flex;
    justify-content: center;
}

