.container {
	max-width: 50vw;
	width: 681px;
    height: 460px;
	padding: 0;
	margin: 5px;

	.product-card {
		height: 100%;
		display: flex;
		flex-direction: column;

		.chaquetita {
			width: 50px;
		}
		
		button {
			text-transform: capitalize;
			border-radius: 20px;
		}

		transition: box-shadow .3s;
		&:hover {
			box-shadow: 0 0 11px rgba(33, 33, 33, .2);
		}

		.user-details {
			height: 45px;
			margin-bottom: 16px;

			mat-card-content{
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
				grid-template-areas: 
					"image name valoration chat"
					"image products n_valorations chat";
				row-gap: 4px;

				.image {
					grid-area: image;
				}
		
				.name {
					grid-area: name;
					font-size: 20px;
					font-weight: 700;
				}
		
				.products {
					grid-area: products;
				}
				
				.valoration {
					grid-area: valoration;
					display: grid;
					grid-template: 1fr / 1fr 5fr;
					align-items: center;
				}

				.n_valorations {
					grid-area: n_valorations;

					p {
						margin: 0;
					}
				}
		
				.chat {
					height: 40px;
					grid-area: chat;
					display: flex;
					justify-content: right;
					align-self: center;
		
					button {
						width: 75%;
					}
				}
			}
		}

		.photo-container {
			height: 477px;

			display: flex;
			justify-content: center;

			overflow: hidden;

			border-radius: 12px;
			padding: 4px;

			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

			img {
				max-height: 100%;
				border-radius: 10px;
				margin: 0;
				object-fit: cover;
			}
		}

		.product-details {
			margin-top: 20px;

			mat-card-content {
				margin: 0;

				h1 {
					margin: 0;
					padding-bottom: 8px;
				}
	
				p {
					padding-top: 20px;
				}
			}
		}

	}
}