.container {
	max-width: 33vw;
	min-width: 33vw;
	padding: 0;
	margin: 5px;

	.summary {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 8px;

		margin-bottom: 16px;

		.summary-row {
			display: grid;
			grid-template-columns: 3fr 1fr;
			justify-items: end;

			font-weight: 500;

			&:nth-child(1), &:nth-child(4), &:nth-child(5) {
				border-bottom: 2px solid black;
				padding-bottom: 4px;
			}

			div {
				justify-self: start;
				font-weight: 400;
			}
		}
	}

	.buttons-container {
		display: flex;
		justify-content: space-between;
	}
}