.container {
	max-width: 33vw;
	min-width: 33vw;
	padding: 0;
	margin: 5px;

	.summary {
		display: grid;
		grid-template: 1fr 1fr 1fr / 3fr 1fr;
	}

	.buttons {

		.register {
			
		}
	
		.close {
			float: right;
	
			color: #dc3545;
			background-color: #fff;
		}
	
		.close:hover {
			color: #fff;
			background-color: #bb2d3b;
			border-color: #bb2d3b;
		}
	}
}