<div class="container">

    <div *ngIf="user == true">
        <mat-label>Subir producto</mat-label>
        <form class="form" #submitForm="ngForm" enctype="multipart/form-data">
            <!-- <input matInput [(ngModel)]="product.id" name="id" #id="ngModel" hidden> -->
            <mat-form-field class="form_element">
                <input matInput placeholder="Name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                <mat-error *ngIf="!name.valid || name.pristine">Nombre del producto incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Descripción" required [(ngModel)]="model.description" name="description"
                    #description="ngModel">
                <mat-error *ngIf="!description.valid || description.pristine">Descripción del producto incorrecta
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Precio" required [(ngModel)]="model.price" name="price" #price="ngModel">
                <mat-error *ngIf="!price.valid || price.pristine">Precio del producto incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Peso" required [(ngModel)]="model.weight" name="weight" #weight="ngModel">
                <mat-error *ngIf="!weight.valid || weight.pristine">Peso del producto incorrecto</mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="form_element">
                <input matInput placeholder="Categoría" required [(ngModel)]="product.category" name="weight" #category="ngModel">
                <mat-error *ngIf="!category.valid || category.pristine">Peso del producto incorrecto</mat-error>
            </mat-form-field> -->
            <!-- <div class="mb-3">
                <label for="file" class="form-label">Upload file example</label>
                <input (change)="this.onFilechange($event)" class="form-control" type="file" name="file">
               
              </div> -->

            <!-- <div class="img_upload">
                <label for="productPic">Seleccionar archivo</label>
                <input 
                    class="input_file_btn"
                    type="file"
                    id="image" name="image"
                    [(ngModel)]="model.image"
                    #image="ngModel"
                    >
            </div> -->
        </form>
        <div class="actions">
            <button
                mat-raised-button
                color="primary"
                class="actions__btn"
                type="submit"
                (click)="onSubmit(submitForm)"
            >
                Enviar
            </button>
            
        </div>
    </div>
    <div *ngIf="user != true">
        <mat-label>Editar producto</mat-label>
        <form class="form" #submitForm="ngForm">
            <!-- <input matInput [(ngModel)]="product.id" name="id" #id="ngModel" hidden> -->
    
            <!-- <input matInput type="text"  placeholder="Name" required [(ngModel)]="model.name" name="name" #name="ngModel"> -->
            <mat-form-field class="form_element">
                <input matInput placeholder="Name" required [(ngModel)]="product.name" name="name" #name="ngModel">
                <mat-error *ngIf="!name.valid || name.pristine">Nombre del producto incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Descripción" required [(ngModel)]="product.description" name="description"
                    #description="ngModel">
                <mat-error *ngIf="!description.valid || description.pristine">Descripción del producto incorrecta
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Precio" required [(ngModel)]="product.price" name="price" #price="ngModel">
                <mat-error *ngIf="!price.valid || price.pristine">Precio del producto incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field class="form_element">
                <input matInput placeholder="Peso" required [(ngModel)]="product.weight" name="weight" #weight="ngModel">
                <mat-error *ngIf="!weight.valid || weight.pristine">Peso del producto incorrecto</mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="form_element">
                <input matInput placeholder="Categoría" required [(ngModel)]="product.category" name="weight" #category="ngModel">
                <mat-error *ngIf="!category.valid || category.pristine">Peso del producto incorrecto</mat-error>
            </mat-form-field> -->
            <!-- <div class="img_upload">
                <label for="productPic">Seleccionar archivo</label>
                <input 
                    class="input_file_btn"
                    type="file"
                    id="productPic" name="productPic"
                    >
            </div> -->
        </form>
        <div class="actions">
            <button
                mat-raised-button
                color="primary"
                class="actions__btn"
                type="submit"
                (click)="onSubmit(submitForm)"
            >
                Enviar
            </button>
            
        </div>
    </div>

</div>
