.product-gallery {
	width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}