<div class="container">
	<mat-card class="product-card">
		<mat-card-content class="product-user">
			<div class="image">
				{{ product?.user?.image }}
			</div>
			<div class="name">
				{{ product?.user?.username }} 
			</div>
			<div class="products">
				{{ product?.user?.products?.length }} Productos
			</div>
			<div class="valoration">
				{{ product?.user?.valoration }} 
			</div>
			<div class="n_valorations">
				{{ product?.user?.n_valorations }} Valoraciones
			</div>
			<div class="chat">

			</div>
		</mat-card-content>
		<div id="foto-container">
			<div *ngIf="image != null">
				<img mat-card-image src="{{ image }}" alt="Foto1">
			</div>
			<div *ngIf="image == null">
				<img mat-card-image src="assets/no-disponible.jpg" alt="Foto">
			</div>
		</div>
		<mat-card-title>{{ product?.name }}</mat-card-title>
		<mat-card-content>
			<p> {{ product?.description }}
			</p>
		</mat-card-content>
		
	</mat-card>
</div>