.mainContainer {
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 50%;
}

.card {
    margin: 0.3rem;
}