form {
	display: flex;
	flex-direction: column;
	width: 33vw;

	h1 {
		align-self: center;
		margin-bottom: 32px;
	}

	div {
		margin-bottom: 16px;

		label {
			margin-bottom: 2px;
			font-size: 13px;
		}
	}

	div:last-of-type{
		margin-bottom: 24px;
	}
}

div.buttons {
	

	.register {
		
	}

	.close {
		float: right;

		color: #dc3545;
		background-color: #fff;
	}

	.close:hover {
		color: #fff;
		background-color: #bb2d3b;
		border-color: #bb2d3b;
	}

}