/* You can add global styles to this file, and also import other style files */

@import 'src/variables.scss';

html {
    min-height: 100%;
    position: relative;
}

body {
    // margin-bottom: -30px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.gray {
	color: rgb(96, 125, 139);
}


.btn {
	font-size: 14.5px;
	font-weight: 500;
}

.m-btn-primary {
	background: $m-c-p;
	color: #FFFFFF;
	&:hover {
		color: #FFFFFF;
		box-shadow: $m-c-p-h 0 1px 15px;
		transition-duration: .1s;
	}
}


.m-btn-primary-i {
	background: #FFFFFF;
	color: $m-c-p;
	border: 1px solid $m-c-p ;
	&:hover {
		
		box-shadow: $m-c-p-h 0 1px 15px;
		transition-duration: .25s;
	}
}

.m-btn-secondary {
	background: $m-c-s;
	color: #FFFFFF;
	&:hover {
		box-shadow: $m-c-s-h 0 1px 15px;
		transition-duration: .25s;
	}
}