<!-- <div class="navbar navbar-fixed-bottom"></div> -->



<div class="footer">
    <div class="links-copy-wrapper">
        <div class="linksWrapper">
            <div class="about">
                <div class="title">
                    <h3 class="footer-title">Sobre nosotros</h3>
                </div>
                <div class="separator">
                    <mat-divider class="separator-divider"></mat-divider>
                </div>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link"><a routerLink="/info">¿Quienes somos?</a></li>
                        <li class="link"><a routerLink="/aviso-legal">Aviso legal</a></li>
                        <li class="link"><a routerLink="/politicas-privacidad">Politica de privacidad</a></li>
                        <li class="link"><a routerLink="/cookies">Cookies</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact">
                <div class="title">
                    <h3 class="footer-title">Contáctanos</h3>
                </div>
                <mat-divider class="separator-divider"></mat-divider>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link">MACAPOP</li>
                        <li class="link">Torre B, C. Nelva, 1, 30006 Murcia</li>
                        <li class="link">968 28 55 22</li>
                        <li class="link">macapop@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="links follow">
                <div class="title">
                    <h3 class="footer-title">Siguenos en redes</h3>
                </div>
                <mat-divider class="separator-divider"></mat-divider>
                <div class="page-links">
                    <ul class="ul-links">
                        <li class="link"><a href="https://es-es.facebook.com/"><img src="https://img.icons8.com/ios/25/000000/facebook--v2.png"/></a></li>
                        <li class="link"><a href="https://twitter.com/?lang=es"><img src="https://img.icons8.com/ios/25/000000/twitter--v1.png"/></a></li>
                        <li class="link"><a href="https://www.instagram.com/?hl=es"><img src="https://img.icons8.com/ios/25/000000/instagram-new--v1.png"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <h5>Lorem ipsum dolor sit amet.</h5>
        </div>
    </div>
</div>