@import 'src/variables.scss';

.footer {
	min-height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: $m-c-p;
	font-weight: 500;
    
    margin-top: 32px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px -15px 25px, rgba(0, 0, 0, 0.05) 0px -5px 10px;

	.links-copy-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.linksWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			min-width: 900px; //estaba en 500px

			.title {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			
				border-bottom: 1px solid white;
				padding-top: 1rem;
			
				h3 {
					font-size: 14px;
					font-weight: 700;
					color: $white-color;
				}
			}

			.page-links {
				.ul-links {
					// display: flex;
					// flex-direction: column;
					// justify-content: center;
					// align-items: flex-start;
					list-style: none;
					color: #fff;
					padding: 15px 0 0 0;
				}

				ul {
					padding-left: 0;

					>li a {
						display: inline-block;
						position: relative;
					}
				}
			}
		}
		
		.copyright {
			margin-top: 30px;
			color: $white-color;
			font-size: 0.8rem;
		}
	}
}


.link a {
    text-decoration: none;
    color: $white-color;
}

.separator-divider {
    background-color: $white-color;
}



ul li:before {
    //content: ">";
    padding-right: -2px;
    transition: 0.5s;
    font-weight: 0;
}



.ul-links li:hover::before {
    font-weight: 500;
}


.li-dir {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    li {
        
    }
}